.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  background-color: #184d47;
  display: flex;
  justify-content: space-around;
  z-index: 10;

  &-left {
    min-width: 50px;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;

    &-logo {
      width: 120px;
      height: 25px;
      float: none;
      margin-left: 10px;
      background: url("../Footer/company-logo.png") no-repeat center;
      background-size: contain;
      filter: invert(82%) sepia(62%) saturate(499%) hue-rotate(11deg)
        brightness(110%) contrast(88%); //#E8F044
      &:hover {
        filter: invert(80%) sepia(76%) saturate(943%) hue-rotate(358deg)
          brightness(102%) contrast(104%); //#FFE400
      }
    }

    &-link {
      display: flex;
      justify-content: space-evenly;

      &-word {
        color: #bac964;
        text-decoration: none;
        margin-left: 10px;
        margin-right: 10px;
        &:hover {
          color: #ffd800;
          font-weight: bolder;
        }
        &:active {
          color: white;
        }
      }

      &-cat {
        position: relative;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;

        &-tit {
          margin: 0;
          color: #bac964;
        }

        &-box {
          display: none;
          position: absolute;
          background-color: #184d47;
          min-width: 100px;
          padding-left: 10px;
          padding-right: 20px;
          padding-top: 20px;
          padding-bottom: 26px;
          border-radius: 10px;
          z-index: 1;
        }

        &:hover &-box {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
        &:hover &-tit {
          color: #ffd800;
          font-weight: bolder;
        }
      }
    }
  }

  &-right {
    min-width: 50px;
    max-width: 500px;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
    gap: 10px;

    &-search {
      min-width: 50px;
      max-width: 300px;
      display: flex;
      align-items: center;
      z-index: 11;

      &-input {
        width: 35px;
        border: none;
        padding: 5px;
        padding-left: 16px;
        height: 30px;
        border-radius: 20px 0 0 20px;
        outline: none;
        transition: all 0.5s;
        &::placeholder {
          opacity: 0;
        }
        &:hover {
          width: 200px;
          &::placeholder {
            opacity: 1;
            color: grey;
          }
        }
        &:focus {
          color: black;
        }
      }

      &-button {
        width: 35px;
        height: 30px;
        border: none;
        background: #ccda46;
        border-radius: 0 20px 20px 0;
        &:hover {
          background: #ffd800;
          cursor: pointer;
        }
        &:active {
          background: white;
        }

        &-icon {
          width: 20px;
          height: 20px;
          float: left;
          background: url("./icon-search-64.png") no-repeat;
          background-size: contain;
          filter: invert(100%);
        }
      }
    }

    &-user {
      min-width: 150px;
      max-width: 200px;
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: center;

      &-welcome {
        margin-left: auto;
        margin-right: 0;
        color: #bac964;
        margin-top: 0;
        margin-bottom: 0;
        text-align: right;
        font-size: 12px;
      }

      &-favorite {
        width: 20px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        background: url("./icon-heart-64.png") no-repeat;
        background-size: contain;
        filter: invert(79%) sepia(38%) saturate(491%) hue-rotate(24deg)
          brightness(92%) contrast(89%); //#BAC964
        &:hover {
          filter: invert(88%) sepia(23%) saturate(2916%) hue-rotate(357deg)
            brightness(99%) contrast(105%); //#FFD800
          transform: scale(1.1);
        }
        &:active {
          filter: invert(100%);
        }
      }

      &-cart {
        width: 20px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        background: url("./icon-shopping-cart-90.png") no-repeat;
        background-size: contain;
        filter: invert(79%) sepia(38%) saturate(491%) hue-rotate(24deg)
          brightness(92%) contrast(89%);
        &:hover {
          filter: invert(88%) sepia(23%) saturate(2916%) hue-rotate(357deg)
            brightness(99%) contrast(105%);
          transform: scale(1.1);
        }
        &:active {
          filter: invert(100%);
        }
      }

      &-profile {
        width: 20px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        background: url("./icon-user-52.png") no-repeat;
        background-size: contain;
        filter: invert(79%) sepia(38%) saturate(491%) hue-rotate(24deg)
          brightness(92%) contrast(89%);
        &:hover {
          filter: invert(88%) sepia(23%) saturate(2916%) hue-rotate(357deg)
            brightness(99%) contrast(105%);
          transform: scale(1.1);
        }
        &:active {
          filter: invert(100%);
        }
      }
    }
  }
}

// @media only screen and (max-width: 400px) {
//   .navbar-icongroup {
//     background-color: green;
//   }
// }
