@import url("https://fonts.googleapis.com/css2?family=Galada&family=Lato&display=swap");
.App {
  width: 100%;
  min-height: 100vh;
  color: wheat;
  text-align: center;
  padding-top: 70px;
  background: black;
  font-family: Lato, sans-serif;
}
